@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
body {
	background-color: #EEEEEE;
	color:#686D76;
	font-family: Roboto, Sans-serif;
	line-height:1.25;
	font-size:17px;
	text-decoration:none;
	text-align: center;
	image-rendering: center;
}
.container {
	width:700px;
	margin: 0px auto;
}
#opener h1 {
  color: black;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-top: 40px; 
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(50,50,93,0.1);
}
.card img {
  width: 150px;
  border-radius: 50% 
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}
.cards {
  display: flex;
	flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
  background-image: url("images/background.jpg")
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
 }

a{
	text-decoration: none;
	color: #6B72E1;
	font-weight:bold;
	font-size: 16px
}
a:hover {
	color: black;
}
.box-white {
	background: white;
				padding: 60px;
				margin: 25px;
				border-radius: 4px;
				box-shadow: 0 10px 30px rgba(50,50,93,0.1);
}
.list-inline{
	list-style:none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding:10px;
	justify-content: space-between;
}
.list-inline i:hover {
	font-size: 50px;
	color:rgb(230,230,230);